body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.chart-container {
  margin-bottom: 50px;
  text-align: center;
}
  
.chart-wrapper canvas {
  width: 800px;
  height: 200px; 
}

@media (max-width: 480px) {
  .chart-wrapper canvas {
    width: 380px;
    height: 100px;
  }
}
  
.search-wrapper{
  width:100px;
  height: 100px;
}

.user-cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  gap: .25rem;
  margin-top: 1rem;
  border: 1px solid ;
}

.card{
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > .header{
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
}

.hide{
  display: none;
}